.svg-container {
    display:flex;
    justify-content: center;
    margin-top: 50px;
}

.svg-container__small {
    display: flex;
    flex-direction: column;
}
.clock-container .icon{
    opacity: 0%;
    transition: all 0.2s ease-in-out;
}


.clock-container:hover .icon{
    opacity: 100%;
    transition: all 0.2s ease-in-out;
}

.heart-container .icon{
    opacity: 0%;
    transition: all 0.2s ease-in-out;
}


.heart-container:hover .icon{
    opacity: 100%;
    transition: all 0.2s ease-in-out;
}

.envelope-container .icon{
    opacity: 0%;
    transition: all 0.2s ease-in-out;
}


.envelope-container:hover .icon{
    opacity: 100%;
    transition: all 0.2s ease-in-out;
}

.svg__card {
    margin-right: 80px;
}


.icon {
    width: 200px;
    fill: none;
}

.icon--flipped {
    transform: scaleX(-1);
}

.clock:hover {
    animation: none;
}

.heart {
    fill: red;
    transition: all 0.3s ease-in-out;
}

.heart:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

.heart__square {
    transform-origin: center;
    transform: rotate(45deg);
}

.envelope__closed-lid {
    opacity: 100%;
}

.envelope__open-lid {
    opacity: 0%;
}

.envelope:hover .envelope__closed-lid{
    opacity: 100%;
    animation: envelope-anim-fade-out 0.4s;
    animation-fill-mode: forwards;
}

.envelope:hover .envelope__open-lid{
    opacity: 0%;
    animation: envelope-anim-fade-in 0.4s;
    animation-fill-mode: forwards;
}

@keyframes envelope-anim-fade-out{
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

@keyframes envelope-anim-fade-in{
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}